<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>
	<!-- <link rel="stylesheet" type="text/css" href="/law/public/static/css/common.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="/law/public/static/css/show.css"> -->
	<link rel="stylesheet" href="/law/public/static/bootstrap/css/bootstrap.css">
	<style>
		 #queryForm{
                width: 50%;
                margin: 0 auto;
            }
        @media screen and (max-device-width:750px){
            #queryForm{
                width: 80%;
            }
        }
	</style>
</head>
<body>

	 <div class="container">
        <div class="row">
            <header style="padding: 10px;">
                <nav>
                    <a href="/law/index/" style="font-size: 1.6em;margin-right: 20px;" class="pull-left">法律小助手</a></span>
                    <form action="/law/index/index/show" method="get" accept-charset="utf-8" class="pull-left" id="queryForm">
	                    <div class="input-group">
	                        <input type="text" class="form-control" placeholder="请输入关键词"  name="input" id="input" value={$value}>
	                        <span class="input-group-btn">
	                            <button class="btn btn-primary" type="submit" id="queryBtn">查询</button>
	                        </span>
	                    </div>
               		</form>
                    <a style="margin-left: 20px;" class="btn btn-primary pull-right" href="/law/admin/login/index">管理员登陆</a>
                    <a class="btn btn-success pull-right" href="/law/lawbbs">论坛</a>
                </nav>
            </header>
        </div>
        <div class="row">
        	<main style="color: black;height: auto;padding:50px 30px;">
			    <div>
				    <div class="law-name" style="text-align: center;font-weight:bolder;font-size: 1.4em;margin-bottom: 10px;">
				    	{$lawName}
				    </div>
				    <!-- <div class="law-descript">
						<span>[发布单位]:{$lawUnit}</span>
				    	<span>[发布文号]:{$lawNumber}</span>
				    	<span>[发布日期]:{$lawDate}</span>
				    	<span>[生效日期]:{$lawRelease}</span>
				    	<span>[失效日期]:{$lawEnd}</span>
				    	<span>[所属类别]:{$lawType}</span>
				    </div> -->
				    <hr style="border : 1px dashed #ccc;" />
				    <div class="law-content">
				    	{$lawContent}
				    </div>
			    </div>
			</main>
        </div>
         
    </div>
	
	<script src='/law/public/static/js/util.js'></script>
</body>
</html>