<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- <link rel="stylesheet" type="text/css" href="/law/public/static/css/common.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="/law/public/static/css/show.css"> -->
	<link rel="stylesheet" href="/law/public/static/bootstrap/css/bootstrap.css">
	<style>
		div.search{
			width: 60%;
			margin-top: 20px;
		}
		div.search ul {
			margin: 10px auto;
			display: block;
		}
		div.search ul li{
			position: relative;
		}
		div.search .search-input{
			margin: 10px;
		}
		div.search .active::after{
			width: 0;
			height: 0;
			border: 8px solid transparent;
			border-top-color: #337ab7;
			content: "";
			position: absolute;
			top: 40px;
			left: 50%;
			transform: translate(-50%);
		}
		@media screen and (max-device-width:750px){
			#mainArea{
				width: 80%;
			}
		}
	</style>
	<script type="text/javascript">
		if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
		window.location = "http://www.baidu.com"; //可以换成http地址
		}
</script>
</head>
<body>

	<div class="container">
		 <div class="row">
            <header style="padding: 10px;">
                <nav>
		            <a href="/law/index/" style="font-size: 1.6em;margin-right: 20px;" class="pull-left">法律小助手</a></span>
                    <a style="margin-left: 20px;" class="btn btn-primary pull-right" href="/law/admin/login/index">管理员登陆</a>
                    <a class="btn btn-success pull-right" href="/law/lawbbs">论坛</a>
                </nav>
            </header>
        </div>
        <div class="row">
			<div  class="search">
				<ul class="nav nav-pills">
					<li role="presentation" class="active"><a href="#">法律法规</a></li>
					<li role="presentation"><a href="#">发布单位</a></li>
					<li role="presentation"><a href="#">发布文号</a></li>
					<li role="presentation"><a href="#">发布日期</a></li>
					<li role="presentation"><a href="#">所属类别</a></li>
				</ul>
				<div class="search-input">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="请输入关键词" name="input" id="input">
                              <span class="input-group-btn">
                                <button class="btn btn-primary"  id="queryBtn">查询</button>
                              </span>
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
			</div>
        	<main style="color: black;height: auto;padding:30px 30px;">
			    {volist name="list" id="law" key="k"}
			    <div class="law-list">
				    <div class="law-name">
				    	<span>
				    	   {$k}、
			            </span>
				    	<a href="/law/index/index/descript?lawName={$law->law_title}">{$law->law_title}</a>
				    </div>
				    <div class="law-descript">
				    	<span>{$law->law_unit}</span>&nbsp;&nbsp;&nbsp;&nbsp;
				    	<span>{$law->law_number}</span>&nbsp;&nbsp;
				    	<span>{$law->law_show}</span>
				    	<br>
				    	<span>{$law->law_start}</span>&nbsp;&nbsp;&nbsp;
				    	<span>{$law->law_end}</span>&nbsp;&nbsp;&nbsp;
				    	<span>{$law->law_type}</span>
				    </div>
				    <hr style="border : 1px dashed #ccc;" />
			    </div>
			    {/volist}
			   {$list->render()}
			</main>
        </div>
	</div>
	
	<script src='/law/public/static/js/util.js'></script>
	<script src='/law/public/static/js/jquery-3.2.1.js'></script>
	<script>
		var tips = ['请输入关键词','请输入发布单位','请输入发布文号','请输入发布日期','请输入所属类别'];
		var lis = document.getElementsByTagName('li');
		var input = document.getElementsByTagName('input')[0];
		list = Array.prototype.slice.call(lis);
		list.forEach(function (li,i) {
			li.addEventListener('click',function (event) {
				for(var j = 0;j < lis.length;j++){
					lis[j].setAttribute('class','');
				}
				input.setAttribute('placeholder',tips[i]);
				event.target.parentNode.setAttribute('class','active');
			});
		});

		$('#queryBtn').on('click',function () {
			var li = $(this).parent().parent().parent().prev().children();
			var searchKey;
			$.each(li,function (index, item) {
				if($(item).hasClass('active')){
					searchKey = $(item).children().text();
				}
			});
			location.href = '/law/index/index/show?key='+searchKey +'&value='+$("#input").val();
		});
	</script>
</body>
</html>